In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wage.csv')

In [3]:
df.head()

,Major,Major_category,Total,STEM,BUSINESS,%Women,%PartTime,%Unemployed,%CollegeJob,MedianWage
0,FOOD SCIENCE,Agriculture & Natural Resources,4361,0,0,22.27%,25.71%,9.69%,40.21%,53000
1,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,14240,0,0,59.42%,15.42%,5.00%,20.25%,40000
2,GENERAL AGRICULTURE,Agriculture & Natural Resources,10399,0,0,51.55%,19.53%,1.96%,30.32%,40000
3,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,2439,0,0,58.97%,25.42%,7.72%,35.15%,40000
4,NATURAL RESOURCES MANAGEMENT,Agriculture & Natural Resources,13773,0,0,56.46%,18.97%,6.66%,37.53%,35000